@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


#female-avatar{
    width:75px;
}

#not-found{
    width:700px;
}

.text-body{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    padding-top: 15px;
}

.navbar{
    background-color: #F5B1BE;
}

#nav-icon {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    width: 200px;
}

a:link{
    color:black;
}

a:visited{
    color:black;
}

a{
    color:black;
}

.icones-servicos{
    color:#F5B1BE;
}

.botao-modal-verde{
    background-color:#8CDF8B;
    border:0;
}

.botao-modal-vermelho{
    background-color:#DE8273;
    border:0;
}

.botao-modal-verde:hover{
    background-color:rgba(140,223,139, 0.5);
    border:0;
}

.botao-modal-vermelho:hover{
    background-color:rgba(222,130,115, 0.5);
    border:0;
}

.botao-servicos{
    background-color:#D8DDE0;
    border:0;
}

.botao-servicos:hover{
    background-color:#F5B1BE;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0;
}

.checked {
    color: #F7B281;
}